In [1]:
import requests as requests
import pandas as pd
import json
import folium
from folium.plugins import MarkerCluster

In [2]:
df = pd.read_excel('Hawker Centre.xlsx')

In [3]:
df.head()

,Name,Addressstr,Addressblock
0,Bedok Reservoir Road Blk 630,Bedok Reservoir Road,630
1,Bedok South Road Blk 16,Bedok South Road,16
2,Bendemeer Road Blk 29 (Bendemeer Market and Fo...,Bendemeer Road,29
3,Beo Crescent Market,Beo Crescent,38A
4,Berseh Food Centre,Jalan Besar,166

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          125 non-null    object
 1   Addressstr    123 non-null    object
 2   Addressblock  117 non-null    object
dtypes: object(3)
memory usage: 3.1+ KB

In [5]:
df["Address"] =  "Singapore " + df["Name"]

In [6]:
df.head()

,Name,Addressstr,Addressblock,Address
0,Bedok Reservoir Road Blk 630,Bedok Reservoir Road,630,Singapore Bedok Reservoir Road Blk 630
1,Bedok South Road Blk 16,Bedok South Road,16,Singapore Bedok South Road Blk 16
2,Bendemeer Road Blk 29 (Bendemeer Market and Fo...,Bendemeer Road,29,Singapore Bendemeer Road Blk 29 (Bendemeer Mar...
3,Beo Crescent Market,Beo Crescent,38A,Singapore Beo Crescent Market
4,Berseh Food Centre,Jalan Besar,166,Singapore Berseh Food Centre

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          125 non-null    object
 1   Addressstr    123 non-null    object
 2   Addressblock  117 non-null    object
 3   Address       125 non-null    object
dtypes: object(4)
memory usage: 4.0+ KB

In [8]:
geo_s ='https://maps.googleapis.com/maps/api/geocode/json'
df["lat"] = ""
df["lng"] = ""


for i in range(len(df)):
    param = {'address': df["Address"][i], 'key': ''}

    response = requests.get(geo_s, params=param)

    json_dict = response.json()

    df["lat"][i] = json_dict['results'][0]['geometry']['location']['lat']
    df["lng"][i] = json_dict['results'][0]['geometry']['location']['lng']

In [9]:
df.head()

,Name,Addressstr,Addressblock,Address,lat,lng
0,Bedok Reservoir Road Blk 630,Bedok Reservoir Road,630,Singapore Bedok Reservoir Road Blk 630,1.333022,103.914136
1,Bedok South Road Blk 16,Bedok South Road,16,Singapore Bedok South Road Blk 16,1.320536,103.935517
2,Bendemeer Road Blk 29 (Bendemeer Market and Fo...,Bendemeer Road,29,Singapore Bendemeer Road Blk 29 (Bendemeer Mar...,1.319067,103.863121
3,Beo Crescent Market,Beo Crescent,38A,Singapore Beo Crescent Market,1.288721,103.827519
4,Berseh Food Centre,Jalan Besar,166,Singapore Berseh Food Centre,1.307354,103.856749

In [10]:
df.to_csv("Preprocessed Hawker Centre.csv")