In [1]:
import requests as requests
import pandas as pd
import json
import folium
from folium.plugins import MarkerCluster

In [4]:
df = pd.read_excel('Parks.xlsx')

In [5]:
df.head()

                            Name
0               Telok Ayer Green
1  Mayflower Crescent Playground
2     Sunrise Drive Playground 1
3       Elias Terrace Playground
4          Kew Avenue Playground

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    352 non-null    object
dtypes: object(1)
memory usage: 2.9+ KB

In [7]:
df["Address"] =  "Singapore " + df["Name"]

In [8]:
df.head()

                            Name                                  Address
0               Telok Ayer Green               Singapore Telok Ayer Green
1  Mayflower Crescent Playground  Singapore Mayflower Crescent Playground
2     Sunrise Drive Playground 1     Singapore Sunrise Drive Playground 1
3       Elias Terrace Playground       Singapore Elias Terrace Playground
4          Kew Avenue Playground          Singapore Kew Avenue Playground

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     352 non-null    object
 1   Address  352 non-null    object
dtypes: object(2)
memory usage: 5.6+ KB

In [10]:
geo_s ='https://maps.googleapis.com/maps/api/geocode/json'
df["lat"] = ""
df["lng"] = ""


for i in range(len(df)):
    param = {'address': df["Address"][i], 'key': ''}

    response = requests.get(geo_s, params=param)

    json_dict = response.json()

    df["lat"][i] = json_dict['results'][0]['geometry']['location']['lat']
    df["lng"][i] = json_dict['results'][0]['geometry']['location']['lng']

In [11]:
df.head()

,Name,Address,lat,lng
0,Telok Ayer Green,Singapore Telok Ayer Green,1.281415,103.847621
1,Mayflower Crescent Playground,Singapore Mayflower Crescent Playground,1.372784,103.839615
2,Sunrise Drive Playground 1,Singapore Sunrise Drive Playground 1,1.389294,103.856141
3,Elias Terrace Playground,Singapore Elias Terrace Playground,1.372274,103.941093
4,Kew Avenue Playground,Singapore Kew Avenue Playground,1.321471,103.948514

In [12]:
df.to_csv("Preprocessed Parks.csv")