In [1]:
import requests as requests
import pandas as pd
import json
import folium
from folium.plugins import MarkerCluster

In [2]:
df = pd.read_csv('resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')

In [3]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134516 entries, 0 to 134515
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                134516 non-null  object
 1   town                 134516 non-null  object
 2   flat_type            134516 non-null  object
 3   block                134516 non-null  object
 4   street_name          134516 non-null  object
 5   storey_range         134516 non-null  object
 6   floor_area_sqm       134516 non-null  float64
 7   flat_model           134516 non-null  object
 8   lease_commence_date  134516 non-null  int64
 9   remaining_lease      134516 non-null  object
 10  resale_price         134516 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 11.3+ MB

In [5]:
df["Address"] =  "Singapore " + df.street_name.astype(str) + ' Block ' + df.block.astype(str)

In [6]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,Address
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,Singapore ANG MO KIO AVE 10 Block 406
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,Singapore ANG MO KIO AVE 4 Block 108
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,Singapore ANG MO KIO AVE 5 Block 602
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,Singapore ANG MO KIO AVE 10 Block 465
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,Singapore ANG MO KIO AVE 5 Block 601

In [7]:
df.to_csv("Final.csv")

In [8]:
df= df.drop_duplicates('Address', keep='last')
df = df.reset_index(drop=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9302 entries, 0 to 9301
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   month                9302 non-null   object
 1   town                 9302 non-null   object
 2   flat_type            9302 non-null   object
 3   block                9302 non-null   object
 4   street_name          9302 non-null   object
 5   storey_range         9302 non-null   object
 6   floor_area_sqm       9302 non-null   float64
 7   flat_model           9302 non-null   object
 8   lease_commence_date  9302 non-null   int64
 9   remaining_lease      9302 non-null   object
 10  resale_price         9302 non-null   float64
 11  Address              9302 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 872.2+ KB

In [10]:
geo_s ='https://maps.googleapis.com/maps/api/geocode/json'
df["lat"] = ""
df["lng"] = ""


for i in range(len(df)):
    param = {'address': df["Address"][i], 'key': ''}

    response = requests.get(geo_s, params=param)

    json_dict = response.json()
    
    print(df["Address"][i])
    print(json_dict['results'][0]['geometry']['location']['lat'])
    print(json_dict['results'][0]['geometry']['location']['lng'])
    df["lat"][i] = json_dict['results'][0]['geometry']['location']['lat']
    df["lng"][i] = json_dict['results'][0]['geometry']['location']['lng']

C:\Users\pokem\AppData\Local\Temp\ipykernel_20204\602593998.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["lat"][i] = json_dict['results'][0]['geometry']['location']['lat']
C:\Users\pokem\AppData\Local\Temp\ipykernel_20204\602593998.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["lng"][i] = json_dict['results'][0]['geometry']['location']['lng']

IndexError: list index out of range

In [31]:
df.head(8800)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,Address,lat,lng
0,2017-01,ANG MO KIO,3 ROOM,447,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1979,61 years 06 months,285000.0,Singapore ANG MO KIO AVE 10 Block 447,1.367516,103.85591
1,2017-01,BUKIT BATOK,3 ROOM,342,BT BATOK ST 34,01 TO 03,64.0,Simplified,1987,69 years 11 months,255000.0,Singapore BT BATOK ST 34 Block 342,1.362574,103.748603
2,2017-01,TOA PAYOH,EXECUTIVE,129,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,66 years 02 months,905000.0,Singapore POTONG PASIR AVE 1 Block 129,1.334727,103.865513
3,2017-01,YISHUN,EXECUTIVE,633A,YISHUN ST 61,01 TO 03,164.0,Apartment,1992,74 years 05 months,678000.0,Singapore YISHUN ST 61 Block 633A,1.418557,103.839786
4,2017-02,JURONG WEST,4 ROOM,924,JURONG WEST ST 92,04 TO 06,108.0,Model A,1988,70 years 05 months,330000.0,Singapore JURONG WEST ST 92 Block 924,1.340492,103.689869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,2022-08,SERANGOON,EXECUTIVE,535,SERANGOON NTH AVE 4,07 TO 09,149.0,Apartment,1992,69 years 04 months,780000.0,Singapore SERANGOON NTH AVE 4 Block 535,1.373628,103.873941
8796,2022-08,SERANGOON,EXECUTIVE,519,SERANGOON NTH AVE 4,07 TO 09,149.0,Apartment,1992,69 years 04 months,818000.0,Singapore SERANGOON NTH AVE 4 Block 519,1.371799,103.874754
8797,2022-08,SERANGOON,EXECUTIVE,525,SERANGOON NTH AVE 4,13 TO 15,147.0,Maisonette,1992,69 years 03 months,898000.0,Singapore SERANGOON NTH AVE 4 Block 525,,
8798,2022-08,TAMPINES,2 ROOM,499B,TAMPINES AVE 9,04 TO 06,46.0,Model A,2014,90 years 07 months,338000.0,Singapore TAMPINES AVE 9 Block 499B,,
8799,2022-08,TAMPINES,3 ROOM,907,TAMPINES AVE 4,10 TO 12,73.0,Model A,1984,61 years 02 months,388000.0,Singapore TAMPINES AVE 4 Block 907,,

In [32]:
for i in range(8797, len(df)):
    param = {'address': df["Address"][i], 'key': 'AIzaSyBuEWOhdgbnXz2qoyPJZgaz0NNU5b8_XPg'}

    response = requests.get(geo_s, params=param)

    json_dict = response.json()
    
    print(df["Address"][i])
    print(json_dict['results'][0]['geometry']['location']['lat'])
    print(json_dict['results'][0]['geometry']['location']['lng'])
    df["lat"][i] = json_dict['results'][0]['geometry']['location']['lat']
    df["lng"][i] = json_dict['results'][0]['geometry']['location']['lng']

Singapore SERANGOON NTH AVE 4 Block 525
1.3722515
103.8726223

C:\Users\pokem\AppData\Local\Temp\ipykernel_20204\1324365038.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["lat"][i] = json_dict['results'][0]['geometry']['location']['lat']
C:\Users\pokem\AppData\Local\Temp\ipykernel_20204\1324365038.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["lng"][i] = json_dict['results'][0]['geometry']['location']['lng']

Singapore TAMPINES AVE 9 Block 499B
1.3588676
103.9563215
Singapore TAMPINES AVE 4 Block 907
1.3506585
103.9393244
Singapore TAMPINES AVE 8 Block 869B
1.3547668
103.9326134
Singapore TAMPINES ST 11 Block 113
1.3465402
103.9463078
Singapore TAMPINES ST 11 Block 109
1.3474197
103.9487065
Singapore TAMPINES ST 11 Block 111
1.3469153
103.9473468
Singapore TAMPINES ST 11 Block 107
1.3483749
103.948072
Singapore TAMPINES ST 21 Block 270
1.3499804
103.9488878
Singapore TAMPINES ST 21 Block 201B
1.3527749
103.9529219
Singapore TAMPINES ST 21 Block 262
1.3537767
103.9506103
Singapore TAMPINES ST 21 Block 267
1.350784
103.9491598
Singapore TAMPINES ST 22 Block 280
1.3475421
103.9516746
Singapore TAMPINES ST 22 Block 272
1.3490946
103.950157
Singapore TAMPINES ST 22 Block 285
1.3501387
103.9531032
Singapore TAMPINES ST 23 Block 215
1.3546581
103.9532166
Singapore TAMPINES ST 41 Block 421
1.3575283
103.9475281
Singapore TAMPINES ST 41 Block 422
1.3573119
103.9469842
Singapore TAMPINES ST 41 Block 410
1.3587804
103.946259
Singapore TAMPINES ST 41 Block 405
1.3577816
103.9449219
Singapore TAMPINES ST 42 Block 446
1.3579473
103.9509729
Singapore TAMPINES ST 43 Block 494D
1.3635725
103.9530579
Singapore TAMPINES ST 83 Block 884
1.3515762
103.9326168
Singapore TAMPINES ST 91 Block 929
1.3463015
103.9396416
Singapore TAMPINES ST 91 Block 924
1.3466622
103.9405481
Singapore SIMEI LANE Block 168B
1.342655
103.958718
Singapore SIMEI RD Block 165
1.3456028
103.9590413
Singapore SIMEI ST 1 Block 124
1.3460042
103.9529673
Singapore SIMEI ST 1 Block 131
1.3455048
103.9538965
Singapore SIMEI ST 1 Block 153
1.3452475
103.9572281
Singapore SIMEI ST 1 Block 101
1.3411804
103.9518794
Singapore TAMPINES AVE 1 Block 890A
1.3467722
103.9341573
Singapore TAMPINES AVE 4 Block 902
1.3512821
103.9390978
Singapore TAMPINES AVE 8 Block 879A
1.3520624
103.9308493
Singapore TAMPINES AVE 8 Block 879B
1.351684
103.92852
Singapore TAMPINES AVE 8 Block 868A
1.3546045
103.9342936
Singapore TAMPINES CTRL 7 Block 524B
1.35897
103.9389165
Singapore TAMPINES CTRL 7 Block 515A
1.3569233
103.9383726
Singapore TAMPINES CTRL 8 Block 519A
1.357469
103.940773
Singapore TAMPINES CTRL 8 Block 520A
1.3569675
103.9399785
Singapore TAMPINES ST 12 Block 157
1.3511017
103.9448992
Singapore TAMPINES ST 12 Block 166
1.3488236
103.9464403
Singapore TAMPINES ST 12 Block 145
1.3487924
103.9437377
Singapore TAMPINES ST 21 Block 244
1.3537237
103.9471655
Singapore TAMPINES ST 21 Block 249
1.3518862
103.9484346
Singapore TAMPINES ST 21 Block 234
1.3559135
103.9482533
Singapore TAMPINES ST 21 Block 261
1.3542865
103.9510635
Singapore TAMPINES ST 22 Block 273
1.3487271
103.9504289
Singapore TAMPINES ST 22 Block 283
1.3487122
103.9529673
Singapore TAMPINES ST 23 Block 227
1.3547028
103.9549617
Singapore TAMPINES ST 23 Block 217
1.3542822
103.9517887
Singapore TAMPINES ST 24 Block 218
1.3544243
103.952514
Singapore TAMPINES ST 33 Block 357
1.3540772
103.961761
Singapore TAMPINES ST 34 Block 370
1.358042
103.9597665
Singapore TAMPINES ST 34 Block 367
1.3584219
103.9605145
Singapore TAMPINES ST 41 Block 406
1.3581418
103.945919
Singapore TAMPINES ST 42 Block 450G
1.3583754
103.9528766
Singapore TAMPINES ST 43 Block 434
1.3592614
103.9516074
Singapore TAMPINES ST 44 Block 462
1.3590941
103.955143
Singapore TAMPINES ST 45 Block 497G
1.360312
103.9596759
Singapore TAMPINES ST 45 Block 498E
1.3615245
103.9589053
Singapore TAMPINES ST 45 Block 487B
1.359985
103.958264
Singapore TAMPINES ST 71 Block 726
1.3572083
103.9361372
Singapore TAMPINES ST 71 Block 701
1.3561825
103.9367183
Singapore TAMPINES ST 72 Block 736
1.3590577
103.9343709
Singapore TAMPINES ST 81 Block 814
1.3472705
103.9366504
Singapore TAMPINES ST 82 Block 840
1.3510826
103.9356533
Singapore TAMPINES ST 82 Block 842H
1.3519531
103.9370129
Singapore TAMPINES ST 83 Block 862A
1.3550855
103.9365371
Singapore TAMPINES ST 83 Block 833
1.3506529
103.9340217
Singapore TAMPINES ST 83 Block 862
1.3546649
103.9364691
Singapore TAMPINES ST 91 Block 921
1.3481245
103.94082
Singapore SIMEI ST 1 Block 122
1.3454815
103.9523744
Singapore SIMEI ST 1 Block 136
1.3479623
103.9560496
Singapore SIMEI ST 1 Block 116
1.343658
103.9512787
Singapore TAMPINES AVE 7 Block 391
1.3555647
103.957772
Singapore TAMPINES AVE 7 Block 394
1.3552088
103.9560496
Singapore TAMPINES AVE 7 Block 396
1.3557918
103.9565028
Singapore TAMPINES AVE 9 Block 485B
1.3598188
103.9564122
Singapore TAMPINES AVE 9 Block 488A
1.3601854
103.9563215
Singapore TAMPINES AVE 9 Block 486C
1.3590076
103.9574094
Singapore TAMPINES CTRL 7 Block 523D
1.3593906
103.9389845
Singapore TAMPINES CTRL 7 Block 522B
1.357844
103.9389731
Singapore TAMPINES CTRL 7 Block 515B
1.3569233
103.9383726
Singapore TAMPINES CTRL 7 Block 518B
1.3563154
103.9386044
Singapore TAMPINES CTRL 7 Block 515D
1.356975
103.9387784
Singapore TAMPINES CTRL 7 Block 515C
1.3569333
103.9390447
Singapore TAMPINES ST 11 Block 114
1.345967
103.9468029
Singapore TAMPINES ST 11 Block 106
1.3475719
103.9477094
Singapore TAMPINES ST 11 Block 127
1.3452866
103.9505196
Singapore TAMPINES ST 21 Block 260
1.3546583
103.9500663
Singapore TAMPINES ST 21 Block 268
1.3514326
103.9477774
Singapore TAMPINES ST 22 Block 294
1.3507569
103.9537831
Singapore TAMPINES ST 32 Block 388
1.3553977
103.9581573
Singapore TAMPINES ST 32 Block 307
1.3529374
103.9564122
Singapore TAMPINES ST 32 Block 384
1.3540259
103.958044
Singapore TAMPINES ST 32 Block 386
1.3548071
103.9590186
Singapore TAMPINES ST 33 Block 323
1.3519015
103.958316
Singapore TAMPINES ST 33 Block 356
1.3544454
103.9613984
Singapore TAMPINES ST 34 Block 366
1.3575931
103.9613984
Singapore TAMPINES ST 42 Block 450C
1.3571346
103.952242
Singapore TAMPINES ST 43 Block 496C
1.3621063
103.9502703
Singapore TAMPINES ST 45 Block 490A
1.362032
103.956755
Singapore TAMPINES ST 45 Block 492D
1.3638788
103.9538965
Singapore TAMPINES ST 71 Block 721
1.3600832
103.9363784
Singapore TAMPINES ST 71 Block 709
1.3580262
103.9375568
Singapore TAMPINES ST 71 Block 732
1.3576601
103.9344523
Singapore TAMPINES ST 72 Block 720
1.3594259
103.9361065
Singapore TAMPINES ST 72 Block 723
1.3600175
103.9351094
Singapore TAMPINES ST 72 Block 722
1.3599405
103.9357439
Singapore TAMPINES ST 84 Block 873
1.3539396
103.9321862
Singapore TAMPINES ST 84 Block 876
1.3531584
103.9312118
Singapore TAMPINES ST 86 Block 871B
1.3565033
103.9319596
Singapore TAMPINES ST 86 Block 870A
1.3559658
103.9319522
Singapore SIMEI ST 4 Block 229
1.3431139
103.9560269
Singapore TAMPINES AVE 5 Block 147
1.3493575
103.9421007
Singapore TAMPINES AVE 5 Block 940
1.3490723
103.9414546
Singapore TAMPINES AVE 5 Block 943
1.350297
103.941165
Singapore TAMPINES AVE 8 Block 892
1.3492365
103.9290138
Singapore TAMPINES AVE 8 Block 892A
1.3492365
103.9290138
Singapore TAMPINES ST 11 Block 125
1.3462955
103.950089
Singapore TAMPINES ST 12 Block 149
1.3514083
103.9425423
Singapore TAMPINES ST 21 Block 230G
1.3561273
103.9502581
Singapore TAMPINES ST 21 Block 245
1.3532705
103.9465133
Singapore TAMPINES ST 32 Block 329
1.3533309
103.958628
Singapore TAMPINES ST 32 Block 327
1.352467
103.9584858
Singapore TAMPINES ST 32 Block 308
1.3529348
103.9568655
Singapore TAMPINES ST 32 Block 336
1.352623
103.9601884
Singapore TAMPINES ST 41 Block 431
1.3593399
103.9507009
Singapore TAMPINES ST 41 Block 430
1.3597819
103.9502476
Singapore TAMPINES ST 41 Block 429
1.359566
103.9496131
Singapore TAMPINES ST 41 Block 428
1.3590572
103.9489785
Singapore TAMPINES ST 43 Block 495D
1.3637249
103.9520607
Singapore TAMPINES ST 45 Block 497D
1.358851
103.9591319
Singapore TAMPINES ST 81 Block 895
1.347813
103.9314837
Singapore TAMPINES ST 81 Block 889
1.3499373
103.9312118
Singapore TAMPINES ST 81 Block 896A
1.3485568
103.9325941
Singapore TAMPINES ST 82 Block 856C
1.3529026
103.9373755
Singapore TAMPINES ST 82 Block 856E
1.3530042
103.9387805
Singapore TAMPINES ST 83 Block 857
1.3543021
103.9359252
Singapore TAMPINES ST 84 Block 874A
1.3530793
103.9322089
Singapore LOR 2 TOA PAYOH Block 120
1.3391609
103.8454928
Singapore KIM KEAT AVE Block 195
1.3304675
103.8589437
Singapore LOR 1 TOA PAYOH Block 131A
1.3379209
103.8435849
Singapore LOR 1 TOA PAYOH Block 113
1.3413246
103.844647
Singapore LOR 1 TOA PAYOH Block 157
1.3322871
103.8454896

Singapore LOR 1 TOA PAYOH Block 174
1.3306876
103.8418707
Singapore LOR 1 TOA PAYOH Block 117
1.340041
103.845221
Singapore LOR 1 TOA PAYOH Block 126
1.3378453
103.8451304
Singapore LOR 1 TOA PAYOH Block 118
1.3395306
103.8448587
Singapore LOR 1 TOA PAYOH Block 107
1.3412359
103.8474196
Singapore LOR 1 TOA PAYOH Block 128
1.3379959
103.8444058
Singapore LOR 1 TOA PAYOH Block 98
1.3391649
103.8484951
Singapore LOR 2 TOA PAYOH Block 83
1.3357938
103.8479661
Singapore LOR 3 TOA PAYOH Block 91
1.3382729
103.8484816
Singapore LOR 4 TOA PAYOH Block 85C
1.3363688
103.8474016
Singapore LOR 4 TOA PAYOH Block 66
1.3350128
103.8517428
Singapore LOR 5 TOA PAYOH Block 53
1.3377393
103.8508373
Singapore LOR 7 TOA PAYOH Block 8
1.337929
103.8567286
Singapore LOR 7 TOA PAYOH Block 1
1.3394079
103.8534644
Singapore LOR 7 TOA PAYOH Block 9
1.3375586
103.8578168
Singapore LOR 7 TOA PAYOH Block 18
1.3358021
103.8567256
Singapore LOR 7 TOA PAYOH Block 12
1.3366634
103.8578384
Singapore LOR 8 TOA PAYOH Block 231
1.3374036
103.8594436
Singapore LOR 8 TOA PAYOH Block 232
1.3375528
103.8588086
Singapore POTONG PASIR AVE 1 Block 107
1.3346386
103.8684039
Singapore POTONG PASIR AVE 1 Block 115
1.3373096
103.862802
Singapore TOA PAYOH CTRL Block 177
1.3338853
103.8489187
Singapore TOA PAYOH NTH Block 207
1.3424025
103.8451531
Singapore TOA PAYOH NTH Block 205
1.3421469
103.8482108
Singapore TOA PAYOH NTH Block 199
1.3419864
103.8506561
Singapore UPP ALJUNIED LANE Block 7
1.3347419
103.8787246
Singapore JOO SENG RD Block 9
1.3348683
103.8791035
Singapore KIM KEAT AVE Block 256
1.3321265
103.8581445
Singapore KIM KEAT LINK Block 250
1.3319844
103.856738
Singapore KIM KEAT LINK Block 249
1.3313391
103.8566442
Singapore KIM KEAT LINK Block 247
1.3314257
103.8556789
Singapore LOR 1 TOA PAYOH Block 130A
1.3374907
103.8431376
Singapore LOR 1 TOA PAYOH Block 131B
1.3384821
103.8429483
Singapore LOR 1 TOA PAYOH Block 130B
1.3375005
103.8425404
Singapore LOR 1A TOA PAYOH Block 138B
1.3363126
103.8460763
Singapore LOR 1A TOA PAYOH Block 138C
1.3362737
103.8447228
Singapore LOR 2 TOA PAYOH Block 142
1.3355958
103.8453798
Singapore LOR 2 TOA PAYOH Block 146
1.3347312
103.8464437
Singapore LOR 2 TOA PAYOH Block 152
1.3341078
103.8458551
Singapore LOR 2 TOA PAYOH Block 145
1.3352899
103.8461192
Singapore LOR 4 TOA PAYOH Block 62
1.3362748
103.8514672
Singapore LOR 4 TOA PAYOH Block 82
1.3356304
103.8483915
Singapore LOR 4 TOA PAYOH Block 81B
1.3359802
103.8497523
Singapore LOR 8 TOA PAYOH Block 11
1.3371613
103.8591114
Singapore LOR 8 TOA PAYOH Block 214
1.3418438
103.8543531
Singapore POTONG PASIR AVE 1 Block 121
1.3357049
103.8658404
Singapore POTONG PASIR AVE 3 Block 137
1.3337978
103.8660365
Singapore POTONG PASIR AVE 3 Block 139
1.3332642
103.8661489
Singapore TOA PAYOH CTRL Block 79E
1.3343604
103.8485822
Singapore TOA PAYOH CTRL Block 79D
1.3347903
103.8491124
Singapore TOA PAYOH NTH Block 201
1.3410918
103.8502712
Singapore JOO SENG RD Block 16
1.3365471
103.8802883
Singapore LOR 1 TOA PAYOH Block 153A
1.333727
103.8452437
Singapore LOR 1 TOA PAYOH Block 172
1.3303878
103.8430508
Singapore LOR 1A TOA PAYOH Block 139A
1.336405
103.843575
Singapore LOR 1A TOA PAYOH Block 139B
1.3367855
103.8439944
Singapore LOR 1A TOA PAYOH Block 138A
1.3367523
103.8454887
Singapore LOR 2 TOA PAYOH Block 154
1.3333428
103.8461676
Singapore LOR 2 TOA PAYOH Block 153
1.3336385
103.8456308
Singapore LOR 2 TOA PAYOH Block 144
1.3353387
103.8441841
Singapore LOR 2 TOA PAYOH Block 84B
1.335832
103.8467183
Singapore LOR 4 TOA PAYOH Block 81
1.3354684
103.8503861
Singapore LOR 5 TOA PAYOH Block 50
1.33716
103.852318
Singapore LOR 8 TOA PAYOH Block 216
1.3424785
103.8541891
Singapore WOODLANDS CRES Block 780B
1.4488911
103.8011656
Singapore WOODLANDS CRES Block 780F
1.4478639
103.8015348
Singapore MARSILING DR Block 1
1.4406289
103.7757457
Singapore MARSILING DR Block 22
1.4416883
103.7741295
Singapore MARSILING DR Block 24
1.4414346
103.7726495
Singapore MARSILING DR Block 30
1.4425608
103.7724941
Singapore MARSILING DR Block 23
1.4414967
103.7732337
Singapore MARSILING DR Block 206
1.4453713
103.7732613
Singapore MARSILING DR Block 204
1.444169
103.7739054
Singapore MARSILING RD Block 180A
1.4392206
103.7780527
Singapore MARSILING RISE Block 125
1.4384376
103.7795605
Singapore WOODLANDS DR 16 Block 573A
1.431536
103.798119
Singapore WOODLANDS DR 50 Block 886A
1.4383314
103.7946803
Singapore WOODLANDS RISE Block 784C
1.4459696
103.8053726
Singapore WOODLANDS ST 13 Block 166
1.4336992
103.7753992
Singapore WOODLANDS ST 13 Block 155
1.434702
103.7746089
Singapore WOODLANDS ST 13 Block 111
1.4379153
103.7820991
Singapore WOODLANDS ST 31 Block 316
1.4314938
103.7760335
Singapore WOODLANDS ST 82 Block 848
1.4417538
103.7917635
Singapore MARSILING DR Block 28
1.4428092
103.7738115
Singapore MARSILING DR Block 33
1.4435674
103.7721052
Singapore MARSILING LANE Block 12B
1.4409966
103.7781228
Singapore WOODLANDS AVE 1 Block 351
1.4321764
103.7843626
Singapore WOODLANDS AVE 1 Block 369
1.4334046
103.7875317
Singapore WOODLANDS AVE 4 Block 618
1.4336421
103.796677
Singapore WOODLANDS AVE 4 Block 844
1.4439215
103.7931682
Singapore WOODLANDS AVE 6 Block 693A
1.438688
103.8038841
Singapore WOODLANDS AVE 6 Block 627
1.4336154
103.8010235
Singapore WOODLANDS CIRCLE Block 743
1.4437186
103.7962922
Singapore WOODLANDS CIRCLE Block 729
1.4425116
103.7985786
Singapore WOODLANDS CIRCLE Block 766
1.4461911
103.7971298
Singapore WOODLANDS CIRCLE Block 753
1.4457669
103.7945038
Singapore WOODLANDS CRES Block 782C
1.448473
103.804001
Singapore WOODLANDS CRES Block 780D
1.4484557
103.8019064
Singapore WOODLANDS CRES Block 782A
1.448473
103.804001
Singapore WOODLANDS CRES Block 780E
1.4479692
103.8016402
Singapore WOODLANDS CRES Block 775
1.4485953
103.800118
Singapore WOODLANDS DR 14 Block 523
1.4332178
103.794051
Singapore WOODLANDS DR 14 Block 525
1.4324161
103.7931456
Singapore WOODLANDS DR 14 Block 518
1.434406
103.791574
Singapore WOODLANDS DR 16 Block 574B
1.4296826
103.7976089
Singapore WOODLANDS DR 16 Block 574A
1.429875
103.7977355
Singapore WOODLANDS DR 42 Block 605
1.4373269
103.7971977
Singapore WOODLANDS DR 42 Block 604
1.4371487
103.7963374
Singapore WOODLANDS DR 50 Block 886B
1.4382833
103.7944144
Singapore WOODLANDS DR 50 Block 886C
1.4378232
103.794031
Singapore WOODLANDS DR 50 Block 890B
1.4383194
103.7924778
Singapore WOODLANDS DR 50 Block 889A
1.4374036
103.7936889
Singapore WOODLANDS DR 50 Block 899C
1.4365117
103.7954998
Singapore WOODLANDS DR 52 Block 619
1.4333936
103.7982354
Singapore WOODLANDS DR 53 Block 554
1.4321014
103.7965865
Singapore WOODLANDS DR 60 Block 773
1.4474178
103.7976052
Singapore WOODLANDS DR 62 Block 683A
1.4402104
103.8027441
Singapore WOODLANDS DR 62 Block 683B
1.440945
103.8026535
Singapore WOODLANDS DR 70 Block 708
1.4400237
103.7973109
Singapore WOODLANDS DR 73 Block 691A
1.440374
103.806756
Singapore WOODLANDS DR 75 Block 687B
1.4419076
103.8072266
Singapore WOODLANDS RING RD Block 643
1.4377215
103.8016574
Singapore WOODLANDS RING RD Block 661
1.4354641
103.7987597
Singapore WOODLANDS RING RD Block 667
1.4386252
103.7979447
Singapore WOODLANDS RING RD Block 655
1.4376641
103.7983899
Singapore WOODLANDS RISE Block 784B
1.4457011
103.8048279
Singapore WOODLANDS RISE Block 785B
1.4462744
103.805411
Singapore WOODLANDS ST 11 Block 171
1.4339862
103.7764856
Singapore WOODLANDS ST 13 Block 148
1.4357992
103.7740864
Singapore WOODLANDS ST 13 Block 145
1.4360984
103.7731811
Singapore WOODLANDS ST 32 Block 321
1.4318397
103.7791057
Singapore WOODLANDS ST 41 Block 406
1.4297892
103.7730004
Singapore WOODLANDS ST 81 Block 824
1.4393433
103.7886182
Singapore WOODLANDS ST 82 Block 840
1.4437982
103.7923306
Singapore WOODLANDS ST 82 Block 843
1.4431347
103.7927834
Singapore WOODLANDS ST 82 Block 845
1.4427677
103.7927834
Singapore WOODLANDS ST 83 Block 853
1.4393893
103.793055
Singapore WOODLANDS ST 83 Block 836
1.4400583
103.7916968
Singapore MARSILING DR Block 6
1.4420183
103.7762748
Singapore MARSILING DR Block 5A
1.4401537
103.7754242
Singapore MARSILING DR Block 36
1.4452553
103.7723822
Singapore MARSILING RD Block 137
1.4384604
103.7770289
Singapore MARSILING RISE Block 120
1.4392576
103.7805293
Singapore MARSILING RISE Block 123
1.4391816
103.7791113
Singapore WOODLANDS AVE 1 Block 571B
1.4300801
103.7906115

Singapore WOODLANDS AVE 1 Block 572A
1.4310991
103.789501
Singapore WOODLANDS CIRCLE Block 754
1.445476
103.794051
Singapore WOODLANDS CIRCLE Block 747
1.4431052
103.7950978
Singapore WOODLANDS CRES Block 782D
1.448473
103.804001
Singapore WOODLANDS DR 14 Block 522
1.433805
103.794051
Singapore WOODLANDS DR 14 Block 532
1.4307551
103.7925559
Singapore WOODLANDS DR 14 Block 528
1.4315317
103.7924376
Singapore WOODLANDS DR 14 Block 506
1.432551
103.7908225
Singapore WOODLANDS DR 14 Block 509
1.4326243
103.7891162
Singapore WOODLANDS DR 16 Block 540
1.4284571
103.7925117
Singapore WOODLANDS DR 16 Block 541
1.4280868
103.793055
Singapore WOODLANDS DR 40 Block 707
1.4404675
103.7967676
Singapore WOODLANDS DR 44 Block 550
1.4326997
103.7947754
Singapore WOODLANDS DR 50 Block 897A
1.4365587
103.7938247
Singapore WOODLANDS DR 50 Block 896C
1.4370405
103.793055
Singapore WOODLANDS DR 50 Block 892A
1.4372051
103.7901575
Singapore WOODLANDS DR 53 Block 555
1.4323271
103.7956809
Singapore WOODLANDS DR 60 Block 778
1.447498
103.7994841
Singapore WOODLANDS DR 60 Block 769
1.4469886
103.7987597
Singapore WOODLANDS DR 70 Block 714
1.4420886
103.7987371
Singapore WOODLANDS DR 73 Block 691B
1.4402353
103.8060465
Singapore WOODLANDS DR 75 Block 690A
1.4436256
103.8083586
Singapore WOODLANDS DR 75 Block 687A
1.4410632
103.8072719
Singapore WOODLANDS RING RD Block 653
1.4379596
103.7987597
Singapore WOODLANDS RING RD Block 664
1.4363504
103.7978542
Singapore WOODLANDS RISE Block 783A
1.4474144
103.8039652
Singapore WOODLANDS RISE Block 785D
1.4455844
103.8056947
Singapore WOODLANDS RISE Block 785C
1.4459659
103.8058941
Singapore WOODLANDS RISE Block 784A
1.4452258
103.8052006
Singapore WOODLANDS ST 41 Block 418
1.4290054
103.774856
Singapore WOODLANDS ST 41 Block 408
1.4287996
103.7725021
Singapore WOODLANDS ST 81 Block 871
1.4438727
103.7891841
Singapore WOODLANDS ST 82 Block 880
1.444135
103.792648
Singapore WOODLANDS ST 82 Block 874
1.4429334
103.7895141
Singapore WOODLANDS ST 82 Block 822
1.4419063
103.7894235
Singapore WOODLANDS ST 82 Block 881
1.4445166
103.7919005
Singapore MARSILING RD Block 139
1.4377246
103.7773005
Singapore MARSILING RISE Block 128
1.4374204
103.7790207
Singapore WOODLANDS AVE 1 Block 308
1.4298021
103.7765762
Singapore WOODLANDS AVE 5 Block 359
1.4341418
103.7840231
Singapore WOODLANDS DR 50 Block 893C
1.4363216
103.7906102
Singapore WOODLANDS DR 62 Block 681D
1.4400585
103.8035591
Singapore WOODLANDS DR 71 Block 670
1.4388729
103.7994388
Singapore WOODLANDS DR 72 Block 797
1.4436587
103.8030157
Singapore WOODLANDS RING RD Block 658
1.4362675
103.7993936
Singapore WOODLANDS RING RD Block 636
1.4367601
103.8028346
Singapore WOODLANDS RING RD Block 648
1.4382364
103.8014763
Singapore WOODLANDS ST 32 Block 322
1.4314877
103.7786769
Singapore WOODLANDS ST 32 Block 326
1.4303892
103.7795866
Singapore WOODLANDS ST 81 Block 808
1.442411
103.786989
Singapore WOODLANDS ST 81 Block 827
1.4397053
103.7894331
Singapore WOODLANDS ST 81 Block 805
1.4406729
103.78726
Singapore WOODLANDS ST 82 Block 818
1.4416821
103.7900573
Singapore WOODLANDS ST 83 Block 868
1.4423779
103.7934851
Singapore YISHUN AVE 11 Block 424A
1.4231836
103.8481286
Singapore YISHUN AVE 11 Block 459
1.4210114
103.846308
Singapore YISHUN AVE 11 Block 424C
1.4230829
103.8493514
Singapore YISHUN AVE 11 Block 345
1.4284674
103.8445912
Singapore YISHUN AVE 2 Block 778
1.422262
103.8337174
Singapore YISHUN AVE 2 Block 789
1.4207915
103.8342609
Singapore YISHUN AVE 3 Block 774
1.4235547
103.831938
Singapore YISHUN AVE 4 Block 672A
1.4183441
103.8420212
Singapore YISHUN AVE 4 Block 508A
1.4185912
103.8406564
Singapore YISHUN AVE 5 Block 703
1.4295721
103.8286447
Singapore YISHUN AVE 5 Block 734
1.4293732
103.8308601
Singapore YISHUN AVE 5 Block 704
1.4292439
103.8287571
Singapore YISHUN AVE 6 Block 394
1.428921
103.8484821
Singapore YISHUN AVE 6 Block 287
1.4396274
103.8377028
Singapore YISHUN AVE 7 Block 171
1.4369974
103.8319773
Singapore YISHUN CTRL Block 303
1.4303668
103.8400579
Singapore YISHUN RING RD Block 165
1.4358107
103.8316153
Singapore YISHUN RING RD Block 813A
1.4173244
103.8323073
Singapore YISHUN RING RD Block 783
1.4218416
103.832511
Singapore YISHUN RING RD Block 116
1.4350895
103.8279472
Singapore YISHUN RING RD Block 622
1.4182931
103.8349855
Singapore YISHUN RING RD Block 451
1.4220824
103.8446537
Singapore YISHUN RING RD Block 118
1.4356715
103.8283129
Singapore YISHUN RING RD Block 618
1.4188027
103.8356195
Singapore YISHUN RING RD Block 108
1.4323028
103.8290607
Singapore YISHUN RING RD Block 813B
1.4173244
103.8323073
Singapore YISHUN ST 11 Block 157
1.4323108
103.8341703
Singapore YISHUN ST 21 Block 216
1.4323697
103.8365253
Singapore YISHUN ST 21 Block 233
1.4349059
103.8383053
Singapore YISHUN ST 21 Block 228
1.4354455
103.8375217
Singapore YISHUN ST 22 Block 270
1.4374117
103.8399673
Singapore YISHUN ST 31 Block 335A
1.4332389
103.8444953
Singapore YISHUN ST 51 Block 512A
1.414129
103.841492
Singapore YISHUN ST 51 Block 511C
1.4154398
103.8427171
Singapore YISHUN ST 51 Block 513A
1.4160652
103.8436904
Singapore YISHUN ST 51 Block 501A
1.4166923
103.84045
Singapore YISHUN ST 61 Block 627
1.4176646
103.8367353
Singapore YISHUN ST 61 Block 630
1.4179825
103.8377934
Singapore YISHUN ST 71 Block 718
1.42677
103.8283736
Singapore YISHUN ST 71 Block 729
1.4259435
103.8315436
Singapore YISHUN ST 72 Block 763
1.4256968
103.8341861
Singapore YISHUN ST 81 Block 839
1.4158802
103.8337174
Singapore YISHUN AVE 11 Block 442
1.423363
103.845473
Singapore YISHUN AVE 11 Block 348A
1.4273134
103.8414619
Singapore YISHUN AVE 11 Block 423
1.42269
103.8481197
Singapore YISHUN AVE 11 Block 443
1.4236988
103.8451143
Singapore YISHUN AVE 11 Block 350
1.4255553
103.8440208
Singapore YISHUN AVE 11 Block 429A
1.4220918
103.8495691
Singapore YISHUN AVE 11 Block 430B
1.421115
103.849022
Singapore YISHUN AVE 3 Block 772
1.4236721
103.8323745
Singapore YISHUN AVE 3 Block 770
1.4244619
103.83242
Singapore YISHUN AVE 4 Block 671A
1.4185912
103.8406564
Singapore YISHUN AVE 4 Block 655
1.4226768
103.8395502
Singapore YISHUN AVE 4 Block 506B
1.4185912
103.8406564
Singapore YISHUN AVE 4 Block 675C
1.4185912
103.8406564
Singapore YISHUN AVE 4 Block 671B
1.4185912
103.8406564
Singapore YISHUN AVE 5 Block 710
1.4283399
103.8279647
Singapore YISHUN AVE 6 Block 437
1.421703
103.8472164
Singapore YISHUN AVE 6 Block 407
1.4259484
103.8487085
Singapore YISHUN AVE 6 Block 289
1.4404279
103.8387898
Singapore YISHUN AVE 6 Block 399
1.4275343
103.8473045
Singapore YISHUN AVE 6 Block 404
1.4265739
103.8483915
Singapore YISHUN AVE 7 Block 174
1.437558
103.831589
Singapore YISHUN AVE 9 Block 317B
1.4340922
103.8427753
Singapore YISHUN AVE 9 Block 315A
1.4324057
103.8425941
Singapore YISHUN AVE 9 Block 315B
1.4320377
103.8427753
Singapore YISHUN AVE 9 Block 247
1.4349957
103.842028
Singapore YISHUN CTRL Block 320
1.4293216
103.8415648
Singapore YISHUN CTRL Block 323
1.4282319
103.8412354
Singapore YISHUN CTRL 1 Block 932
1.4262193
103.8377435
Singapore YISHUN RING RD Block 365
1.429253
103.8451984
Singapore YISHUN RING RD Block 409
1.4262854
103.8475762
Singapore YISHUN RING RD Block 308
1.4313361
103.8405334
Singapore YISHUN RING RD Block 107
1.4324729
103.8270716
Singapore YISHUN RING RD Block 794
1.4199973
103.8321776
Singapore YISHUN RING RD Block 114
1.4343372
103.8268338
Singapore YISHUN RING RD Block 253
1.4349683
103.8405334
Singapore YISHUN RING RD Block 449
1.4227716
103.8442784
Singapore YISHUN RING RD Block 452
1.4220478
103.8447681
Singapore YISHUN RING RD Block 855
1.4170527
103.8369103
Singapore YISHUN RING RD Block 113
1.4344957
103.8286466
Singapore YISHUN RING RD Block 619
1.419101
103.8348043
Singapore YISHUN RING RD Block 450
1.4222437
103.843921
Singapore YISHUN RING RD Block 167
1.4366515
103.8323588
Singapore YISHUN RING RD Block 802
1.4184596
103.8317248
Singapore YISHUN RING RD Block 312
1.431533
103.841326
Singapore YISHUN RING RD Block 677C
1.4221568
103.8419374
Singapore YISHUN ST 11 Block 121
1.4342389
103.8299291
Singapore YISHUN ST 11 Block 123
1.4342992
103.831791
Singapore YISHUN ST 21 Block 234
1.4343442
103.8376122
Singapore YISHUN ST 22 Block 279
1.4385271
103.8376122
Singapore YISHUN ST 22 Block 280
1.4386044
103.8369782

Singapore YISHUN ST 22 Block 276
1.4379366
103.8381557
Singapore YISHUN ST 22 Block 274
1.4374525
103.8387148
Singapore YISHUN ST 31 Block 333C
1.431392
103.845703
Singapore YISHUN ST 31 Block 335B
1.4328315
103.8442433
Singapore YISHUN ST 31 Block 336C
1.4319163
103.8443
Singapore YISHUN ST 41 Block 454
1.419757
103.8451524
Singapore YISHUN ST 51 Block 513D
1.4157491
103.8444898
Singapore YISHUN ST 51 Block 511A
1.4155753
103.841643
Singapore YISHUN ST 51 Block 513B
1.4160895
103.8436545
Singapore YISHUN ST 51 Block 511B
1.4155201
103.841959
Singapore YISHUN ST 51 Block 505A
1.4192544
103.8448706
Singapore YISHUN ST 51 Block 502D
1.4173042
103.8407825
Singapore YISHUN ST 51 Block 504A
1.4180172
103.844134
Singapore YISHUN ST 51 Block 512C
1.41481
103.8426762
Singapore YISHUN ST 51 Block 502C
1.4171963
103.8415774
Singapore YISHUN ST 61 Block 639
1.4206009
103.8384501
Singapore YISHUN ST 61 Block 613
1.4200334
103.8352799
Singapore YISHUN ST 61 Block 609
1.4210554
103.8360951
Singapore YISHUN ST 61 Block 634
1.4189017
103.8390765
Singapore YISHUN ST 61 Block 628
1.4179881
103.8368876
Singapore YISHUN ST 71 Block 726
1.4266805
103.8310002
Singapore YISHUN ST 71 Block 713
1.4274234
103.8273052
Singapore YISHUN ST 72 Block 764
1.4253971
103.8339971
Singapore YISHUN ST 72 Block 754
1.4269341
103.8337077
Singapore YISHUN ST 72 Block 762
1.4257068
103.8342609
Singapore YISHUN ST 72 Block 756
1.4265672
103.8332428
Singapore YISHUN ST 81 Block 876
1.4146956
103.8355289
Singapore YISHUN ST 81 Block 868
1.4147013
103.8379695
Singapore YISHUN ST 81 Block 840
1.415514
103.8336268
Singapore YISHUN ST 81 Block 833
1.4144105
103.8341703
Singapore YISHUN ST 81 Block 829
1.4146436
103.8331177
Singapore YISHUN ST 81 Block 817
1.4120816
103.8338777
Singapore YISHUN AVE 1 Block 432B
1.4190094
103.8467491
Singapore YISHUN AVE 1 Block 432A
1.4195399
103.8470327
Singapore YISHUN AVE 11 Block 428A
1.4225542
103.8474226
Singapore YISHUN AVE 4 Block 509B
1.4138699
103.8400834
Singapore YISHUN AVE 4 Block 658
1.4219519
103.8394465
Singapore YISHUN AVE 4 Block 657
1.4222826
103.8393559
Singapore YISHUN AVE 4 Block 509A
1.4136607
103.8393934
Singapore YISHUN AVE 9 Block 316C
1.4329137
103.8435
Singapore YISHUN AVE 9 Block 315C
1.4323284
103.8432282
Singapore YISHUN CTRL Block 322
1.4290417
103.8407825
Singapore YISHUN RING RD Block 357
1.4263682
103.8460363
Singapore YISHUN RING RD Block 115C
1.433653
103.8275512
Singapore YISHUN RING RD Block 775
1.4225172
103.8321621
Singapore YISHUN RING RD Block 624
1.417779
103.8350761
Singapore YISHUN RING RD Block 115B
1.4332993
103.8270139
Singapore YISHUN RING RD Block 120
1.4347214
103.8292786
Singapore YISHUN RING RD Block 240
1.4327187
103.8394238
Singapore YISHUN RING RD Block 115A
1.4332993
103.8270139
Singapore YISHUN ST 20 Block 299
1.4361898
103.8347248
Singapore YISHUN ST 22 Block 292
1.4366238
103.8373917
Singapore YISHUN ST 22 Block 265
1.436733
103.838282
Singapore YISHUN ST 31 Block 333A
1.4314732
103.8450316
Singapore YISHUN ST 31 Block 334C
1.432585
103.845044
Singapore YISHUN ST 51 Block 504B
1.4177266
103.8439559
Singapore YISHUN ST 51 Block 505B
1.4192544
103.8448706
Singapore YISHUN ST 61 Block 637
1.420083
103.8391747
Singapore YISHUN ST 72 Block 760
1.4258644
103.8323939
Singapore YISHUN ST 72 Block 757
1.4265145
103.8343355
Singapore YISHUN ST 81 Block 870
1.4131394
103.8381557
Singapore YISHUN ST 81 Block 850
1.4160126
103.8360724
Singapore YISHUN ST 81 Block 832
1.4146682
103.8347761
Singapore YISHUN AVE 6 Block 405
1.4267043
103.8491648
Singapore YISHUN CTRL Block 325
1.4291795
103.8422318
Singapore YISHUN RING RD Block 355
1.4253478
103.8449493
Singapore YISHUN ST 61 Block 643
1.421359
103.8374311
Singapore YISHUN ST 81 Block 836
1.4153706
103.8330834

In [33]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,Address,lat,lng
0,2017-01,ANG MO KIO,3 ROOM,447,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1979,61 years 06 months,285000.0,Singapore ANG MO KIO AVE 10 Block 447,1.367516,103.85591
1,2017-01,BUKIT BATOK,3 ROOM,342,BT BATOK ST 34,01 TO 03,64.0,Simplified,1987,69 years 11 months,255000.0,Singapore BT BATOK ST 34 Block 342,1.362574,103.748603
2,2017-01,TOA PAYOH,EXECUTIVE,129,POTONG PASIR AVE 1,01 TO 03,161.0,Maisonette,1984,66 years 02 months,905000.0,Singapore POTONG PASIR AVE 1 Block 129,1.334727,103.865513
3,2017-01,YISHUN,EXECUTIVE,633A,YISHUN ST 61,01 TO 03,164.0,Apartment,1992,74 years 05 months,678000.0,Singapore YISHUN ST 61 Block 633A,1.418557,103.839786
4,2017-02,JURONG WEST,4 ROOM,924,JURONG WEST ST 92,04 TO 06,108.0,Model A,1988,70 years 05 months,330000.0,Singapore JURONG WEST ST 92 Block 924,1.340492,103.689869

In [34]:
df.to_csv("PreprocessedHDB.csv")