In [1]:
import requests as requests
import pandas as pd
import json
import folium
from folium.plugins import MarkerCluster

In [2]:
df = pd.read_excel('MRT.xlsx')

In [3]:
df.head()

,Alpha-numeric code(s) In operation,Station name English,Opening,Name(s) during planning stages,Abbreviation,Location(s),Line,Announcement date
0,NS1 EW24,Jurong East,1990-03-10 00:00:00,Jurong East,JUR,Jurong East,North South Line (NSL),1982-05-01
1,NS2,Bukit Batok,1990-03-10 00:00:00,Bukit Batok South,BBT,Bukit Batok,North South Line (NSL),1982-05-02
2,NS3,Bukit Gombak,1990-03-10 00:00:00,Bukit Batok North,BGB,Bukit Batok,North South Line (NSL),1982-05-03
3,NaN,Brickland,Mid-2030s,Brickland,TBA,Exact location not yet known,North South Line (NSL),1982-05-04
4,NS4 BP1,Choa Chu Kang,1990-03-10 00:00:00,Choa Chu Kang,CCK,Choa Chu Kang,North South Line (NSL),1982-05-05

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 8 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Alpha-numeric code(s) In operation  153 non-null    object
 1   Station name English                162 non-null    object
 2   Opening                             162 non-null    object
 3   Name(s) during planning stages      162 non-null    object
 4   Abbreviation                        162 non-null    object
 5   Location(s)                         162 non-null    object
 6   Line                                162 non-null    object
 7   Announcement date                   162 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(7)
memory usage: 10.2+ KB

In [6]:
df["Address"] =  "Singapore " + df["Station name English "] + " MRT"

In [7]:
df.head()

,Alpha-numeric code(s) In operation,Station name English,Opening,Name(s) during planning stages,Abbreviation,Location(s),Line,Announcement date,Address
0,NS1 EW24,Jurong East,1990-03-10 00:00:00,Jurong East,JUR,Jurong East,North South Line (NSL),1982-05-01,Singapore Jurong East MRT
1,NS2,Bukit Batok,1990-03-10 00:00:00,Bukit Batok South,BBT,Bukit Batok,North South Line (NSL),1982-05-02,Singapore Bukit Batok MRT
2,NS3,Bukit Gombak,1990-03-10 00:00:00,Bukit Batok North,BGB,Bukit Batok,North South Line (NSL),1982-05-03,Singapore Bukit Gombak MRT
3,NaN,Brickland,Mid-2030s,Brickland,TBA,Exact location not yet known,North South Line (NSL),1982-05-04,Singapore Brickland MRT
4,NS4 BP1,Choa Chu Kang,1990-03-10 00:00:00,Choa Chu Kang,CCK,Choa Chu Kang,North South Line (NSL),1982-05-05,Singapore Choa Chu Kang MRT

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Alpha-numeric code(s) In operation  153 non-null    object
 1   Station name English                162 non-null    object
 2   Opening                             162 non-null    object
 3   Name(s) during planning stages      162 non-null    object
 4   Abbreviation                        162 non-null    object
 5   Location(s)                         162 non-null    object
 6   Line                                162 non-null    object
 7   Announcement date                   162 non-null    datetime64[ns]
 8   Address                             162 non-null    object
dtypes: datetime64[ns](1), object(8)
memory usage: 11.5+ KB

In [9]:
geo_s ='https://maps.googleapis.com/maps/api/geocode/json'
df["lat"] = ""
df["lng"] = ""


for i in range(len(df)):
    param = {'address': df["Address"][i], 'key': ''}

    response = requests.get(geo_s, params=param)

    json_dict = response.json()

    df["lat"][i] = json_dict['results'][0]['geometry']['location']['lat']
    df["lng"][i] = json_dict['results'][0]['geometry']['location']['lng']

C:\Users\pokem\AppData\Local\Temp\ipykernel_35472\602593998.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["lat"][i] = json_dict['results'][0]['geometry']['location']['lat']
C:\Users\pokem\AppData\Local\Temp\ipykernel_35472\602593998.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["lng"][i] = json_dict['results'][0]['geometry']['location']['lng']

In [10]:
df.head()

,Alpha-numeric code(s) In operation,Station name English,Opening,Name(s) during planning stages,Abbreviation,Location(s),Line,Announcement date,Address,lat,lng
0,NS1 EW24,Jurong East,1990-03-10 00:00:00,Jurong East,JUR,Jurong East,North South Line (NSL),1982-05-01,Singapore Jurong East MRT,1.333144,103.74234
1,NS2,Bukit Batok,1990-03-10 00:00:00,Bukit Batok South,BBT,Bukit Batok,North South Line (NSL),1982-05-02,Singapore Bukit Batok MRT,1.349061,103.749598
2,NS3,Bukit Gombak,1990-03-10 00:00:00,Bukit Batok North,BGB,Bukit Batok,North South Line (NSL),1982-05-03,Singapore Bukit Gombak MRT,1.35878,103.751998
3,NaN,Brickland,Mid-2030s,Brickland,TBA,Exact location not yet known,North South Line (NSL),1982-05-04,Singapore Brickland MRT,1.352083,103.819836
4,NS4 BP1,Choa Chu Kang,1990-03-10 00:00:00,Choa Chu Kang,CCK,Choa Chu Kang,North South Line (NSL),1982-05-05,Singapore Choa Chu Kang MRT,1.38398,103.746961

In [11]:
df.to_csv("Preprocessed MRT.csv")