In [2]:
import requests as requests
import pandas as pd
import json
import folium
from folium.plugins import MarkerCluster

In [3]:
df = pd.read_excel('Polyclinic.xlsx')

In [4]:
df.head()

              Name/Location                                 Address
0     Ang Mo Kio Polyclinic  Block 723 Ang Mo Kio Avenue 8 #01-4136
1          Bedok Polyclinic  Block 212 Bedok North Street 1 #03-147
2    Bukit Batok Polyclinic            50 Bukit Batok West Avenue 3
3    Bukit Merah Polyclinic  Block 163 Bukit Merah Central #04-3565
4  Choa Chu Kang Polyclinic                    2 Teck Whye Crescent

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name/Location  18 non-null     object
 1   Address        18 non-null     object
dtypes: object(2)
memory usage: 416.0+ bytes

In [6]:
df["Address"] =  "Singapore " + df["Address"]

In [7]:
df.head()

              Name/Location                                           Address
0     Ang Mo Kio Polyclinic  Singapore Block 723 Ang Mo Kio Avenue 8 #01-4136
1          Bedok Polyclinic  Singapore Block 212 Bedok North Street 1 #03-147
2    Bukit Batok Polyclinic            Singapore 50 Bukit Batok West Avenue 3
3    Bukit Merah Polyclinic  Singapore Block 163 Bukit Merah Central #04-3565
4  Choa Chu Kang Polyclinic                    Singapore 2 Teck Whye Crescent

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name/Location  18 non-null     object
 1   Address        18 non-null     object
dtypes: object(2)
memory usage: 416.0+ bytes

In [9]:
geo_s ='https://maps.googleapis.com/maps/api/geocode/json'
df["lat"] = ""
df["lng"] = ""


for i in range(len(df)):
    param = {'address': df["Address"][i], 'key': ''}

    response = requests.get(geo_s, params=param)

    json_dict = response.json()

    df["lat"][i] = json_dict['results'][0]['geometry']['location']['lat']
    df["lng"][i] = json_dict['results'][0]['geometry']['location']['lng']

In [10]:
df.head()

,Name/Location,Address,lat,lng
0,Ang Mo Kio Polyclinic,Singapore Block 723 Ang Mo Kio Avenue 8 #01-4136,1.372437,103.847224
1,Bedok Polyclinic,Singapore Block 212 Bedok North Street 1 #03-147,1.326074,103.931431
2,Bukit Batok Polyclinic,Singapore 50 Bukit Batok West Avenue 3,1.352064,103.747834
3,Bukit Merah Polyclinic,Singapore Block 163 Bukit Merah Central #04-3565,1.283754,103.817007
4,Choa Chu Kang Polyclinic,Singapore 2 Teck Whye Crescent,1.382388,103.75073

In [11]:
df.to_csv("Preprocessed Polyclinic.csv")