In [1]:
import requests as requests
import pandas as pd
import json
import folium
from folium.plugins import MarkerCluster

In [2]:
df = pd.read_excel('Public Hospital.xlsx')

In [3]:
df.head()

                                 Name                                Address
0                  ALEXANDRA HOSPITAL    378 Alexandra Road Singapore 159964
1             CHANGI GENERAL HOSPITAL      2 Simei Street 3 Singapore 529889
2             KHOO TECK PUAT HOSPITAL     90 Yishun Central Singapore 768828
3  KK WOMEN'S AND CHILDREN'S HOSPITAL  100 Bukit Timah Road Singapore 229899
4              NATIONAL CANCER CENTRE     11 Hospital Drive Singapore 169610

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     13 non-null     object
 1   Address  13 non-null     object
dtypes: object(2)
memory usage: 336.0+ bytes

In [5]:
df.head()

                                 Name                                Address
0                  ALEXANDRA HOSPITAL    378 Alexandra Road Singapore 159964
1             CHANGI GENERAL HOSPITAL      2 Simei Street 3 Singapore 529889
2             KHOO TECK PUAT HOSPITAL     90 Yishun Central Singapore 768828
3  KK WOMEN'S AND CHILDREN'S HOSPITAL  100 Bukit Timah Road Singapore 229899
4              NATIONAL CANCER CENTRE     11 Hospital Drive Singapore 169610

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     13 non-null     object
 1   Address  13 non-null     object
dtypes: object(2)
memory usage: 336.0+ bytes

In [7]:
geo_s ='https://maps.googleapis.com/maps/api/geocode/json'
df["lat"] = ""
df["lng"] = ""


for i in range(len(df)):
    param = {'address': df["Address"][i], 'key': ''}

    response = requests.get(geo_s, params=param)

    json_dict = response.json()

    df["lat"][i] = json_dict['results'][0]['geometry']['location']['lat']
    df["lng"][i] = json_dict['results'][0]['geometry']['location']['lng']

In [8]:
df.head()

,Name,Address,lat,lng
0,ALEXANDRA HOSPITAL,378 Alexandra Road Singapore 159964,1.287678,103.801476
1,CHANGI GENERAL HOSPITAL,2 Simei Street 3 Singapore 529889,1.340624,103.949471
2,KHOO TECK PUAT HOSPITAL,90 Yishun Central Singapore 768828,1.424297,103.838591
3,KK WOMEN'S AND CHILDREN'S HOSPITAL,100 Bukit Timah Road Singapore 229899,1.310663,103.846805
4,NATIONAL CANCER CENTRE,11 Hospital Drive Singapore 169610,1.279426,103.836635

In [9]:
df.to_csv("Preprocessed Hospital.csv")