In [1]:
import requests as requests
import pandas as pd
import json
import folium
from folium.plugins import MarkerCluster

In [2]:
df = pd.read_excel('Shopping Mall.xlsx')

In [3]:
df.head()

                             Name
0                          100 AM
1                    313@Somerset
2                          Aperia
3  Balestier Hill Shopping Centre
4                      Bugis Cube

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    165 non-null    object
dtypes: object(1)
memory usage: 1.4+ KB

In [5]:
df["Address"] =  "Singapore " + df["Name"]

In [6]:
df.head()

                             Name                                   Address
0                          100 AM                          Singapore 100 AM
1                    313@Somerset                    Singapore 313@Somerset
2                          Aperia                          Singapore Aperia
3  Balestier Hill Shopping Centre  Singapore Balestier Hill Shopping Centre
4                      Bugis Cube                      Singapore Bugis Cube

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     165 non-null    object
 1   Address  165 non-null    object
dtypes: object(2)
memory usage: 2.7+ KB

In [8]:
geo_s ='https://maps.googleapis.com/maps/api/geocode/json'
df["lat"] = ""
df["lng"] = ""


for i in range(len(df)):
    param = {'address': df["Address"][i], 'key': ''}

    response = requests.get(geo_s, params=param)

    json_dict = response.json()

    df["lat"][i] = json_dict['results'][0]['geometry']['location']['lat']
    df["lng"][i] = json_dict['results'][0]['geometry']['location']['lng']

In [9]:
df.head()

,Name,Address,lat,lng
0,100 AM,Singapore 100 AM,1.275006,103.843566
1,313@Somerset,Singapore 313@Somerset,1.301045,103.838579
2,Aperia,Singapore Aperia,1.310458,103.864167
3,Balestier Hill Shopping Centre,Singapore Balestier Hill Shopping Centre,1.325855,103.842862
4,Bugis Cube,Singapore Bugis Cube,1.298192,103.855657

In [10]:
df.to_csv("Preprocessed Shopping Mall.csv")